@import '../../variables.scss';

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop-layout-min-width) {
    flex-direction: row;
  }
}

.logo__icon {
  position: relative;

  display: block;
  width: 40px;
  height: 32px;

  overflow: hidden;

  &::before {
    content: '';

    display: block;
    width: 83px;
    height: 100%;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    background-image: url('assets/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.logo__title {
  position: relative;

  display: block;
  width: 136px;

  &::before {
    content: '';

    display: block;
    width: 100%;
    padding-top: (15/136) * 100%;

    background-image: url('./assets/title.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  margin-top: 4px;

  @media (min-width: $desktop-layout-min-width) {
    margin-top: 0;
    margin-left: 10px;

    width: 178px;
  }
}
