<div data-request-call-section class="section section--call">
  <div class="section__content">
    <div class="cart">
      <div class="cart__section">
        <div class="cart__title">мы ждём вашего звонка</div>
        <div class="cart__content">
          <div class="call__call-us">
            <div class="call__icon">
              {% include '../../../common/icons/phone-icon.svg' %}
            </div>
            <a class="call__link" href="tel:84956496334">8 495 649 63 34</a>
          </div>
        </div>
      </div>
      <div class="cart__section">
        <div class="cart__title">мы перезвоним вам</div>
        <div class="cart__content call__request-call">
          <div data-btn class="btn btn--outlined">Заказать обратный звонок</div>
        </div>
      </div>
    </div>
  </div>

  <form class="cart call__form" data-form action="/request-call" method="post">
    <div class="cart__title">Обратный звонок</div>
    <div class="cart__content cart__content--call-form-content">
      <input name="phone" type="tel" required>
      <button data-submit-btn type="button" class="btn btn--filled">Заказать звонок</button>
      <button data-cancel-btn type="button" class="btn btn--outlined">Отмена</button>
    </div>
  </form>
</div>
