@import '../../../common/variables';

.section--call {
  @media (min-width: $desktop-layout-min-width) {
    display: none;
  }
}

.call__call-us {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.call__icon {
  svg {
    width: 25px;
    margin-right: 10px;

    path {
      fill: #048eea;
    }
  }
}

.call__link {
  display: flex;
  align-items: center;

  font-size: 26px;

  &,
  &:hover,
  &:active,
  &:visited {
    color: #048eea;
    text-decoration: none;
  }
}

.call__request-call {
  text-align: center;
}

.call__form {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: none;
  width: 200px;

  z-index: 1000;
}

.cart__content--call-form-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  text-align: center;

  .btn {
    width: 150px;
    margin-top: 15px;
  }
}

.call__popup-bg {
  position: fixed;
  left: 0;
  top: 0;

  display: block;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  z-index: 999;
}

body[data-is-active-popup] {
  overflow: hidden;

  .call__form {
    display: block;
  }
}
