{% extends '../../common/page-base/index.twig' %}

{% block title %}Документы{% endblock %}

{% block content %}
  <div class="section section--documents">
    <div class="section__title">Документы</div>
    <div class="section__content">

      <div class="cart">
        <div class="cart__title">Документы</div>
        <div class="cart__content">
          <div class="docs__intro">Компания “Нефтепродукт” имеет все необходимые документальные подтверждения.</div>
          <div class="doc-list">

            <div class="doc">
              <img src="/doc-files/doc-1.png"></img>
              <div class="doc__descr">Свидетельство № 1. Название документа  выданного 12.09.2018 г.</div>
            </div>

            <div class="doc">
              <img src="/doc-files/doc-2.png"></img>
              <div class="doc__descr">Свидетельство № 1. Название документа  выданного 12.09.2018 г.</div>
            </div>

            <div class="doc">
              <img src="/doc-files/doc-1.png"></img>
              <div class="doc__descr">Свидетельство № 1. Название документа  выданного 12.09.2018 г.</div>
            </div>

            <div class="doc">
              <img src="/doc-files/doc-2.png"></img>
              <div class="doc__descr">Свидетельство № 1. Название документа  выданного 12.09.2018 г.</div>
            </div>

            <div class="doc">
              <img src="/doc-files/doc-1.png"></img>
              <div class="doc__descr">Свидетельство № 1. Название документа  выданного 12.09.2018 г.</div>
            </div>

            <div class="doc">
              <img src="/doc-files/doc-2.png"></img>
              <div class="doc__descr">Свидетельство № 1. Название документа  выданного 12.09.2018 г.</div>
            </div>

            <div class="doc">
              <img src="/doc-files/doc-1.png"></img>
              <div class="doc__descr">Свидетельство № 1. Название документа  выданного 12.09.2018 г.</div>
            </div>

            <div class="doc">
              <img src="/doc-files/doc-2.png"></img>
              <div class="doc__descr">Свидетельство № 1. Название документа  выданного 12.09.2018 г.</div>
            </div>

          </div>

          <div class="docs__btn">
            <button class="btn btn--outlined">Загрузить ещё</button>
          </div>

          <div data-btn class="docs__scroll-to-top-btn"></div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
