<div class="calc" data-calc>

  <form novalidate action="/calc" method="post">
    {# fuel type #}
    <div class="form-group calc__inline-form-group">
      <div class="calc__form-group-label">Выберите тип топлива</div>
      <select data-fuel-type name="fuelType" class="form-select">
        <option value="1" data-price="1">One</option>
        <option value="2" data-price="5">Two</option>
        <option value="3" data-price="10">Three</option>
      </select>
    </div>
    {# end fuel type #}

    {# fuel volume #}
    <div class="form-group">
      <div class="calc__form-group-label">Объём топлива</div>
      <div class="calc__inline-form-group-content">
        <div data-fuel-volume-output class="calc__slider-result">33 800</div>
        <div class="calc__slider">
          <div
            data-fuel-volume-slider
            data-min-value="100"
            data-max-value="30000"
          ></div>
          <div class="slider__dots">
            <div class="slider__dot"></div>
            <div class="slider__dot"></div>
            <div class="slider__dot"></div>
            <div class="slider__dot"></div>
            <div class="slider__dot"></div>
            <div class="slider__dot"></div>
            <div class="slider__dot"></div>
          </div>
          <div class="slider__values">
            <div class="slider__value">100</div>
            <div class="slider__value">15000</div>
            <div class="slider__value">30000</div>
          </div>
        </div>
      </div>
      <input data-fuel-volume type="number" name="fuelVolume" placeholder="Объём топлива"
             min="100"
             data-max-volume-threshold="30000"
             required>
    </div>
    {# end fuel volume #}

    {# delivery type #}
    <div class="form-group form-group--mobile" data-delivery-type-mobile>
      <div class="calc__delivery-type">
        <label class="radio-btn">
          <input data-delivery-type type="radio" name="delivery-type-1" value="delivery" checked>
          <span class="radio-btn__title">доставка</span>
        </label>
        <label class="radio-btn">
          <input data-delivery-type type="radio" name="delivery-type-1" value="pickup">
          <span class="radio-btn__title">самовывоз</span>
        </label>
      </div>
    </div>
    {# end delivery type #}

    {# distance #}
    <div class="form-group">
      <div class="calc__form-group-label">От МКАД (км)</div>
      <div class="calc__inline-form-group-content">
        <div data-distance-output class="calc__slider-result">33 800</div>
        <div class="calc__slider">
          <div
            data-distance-slider
            data-min-value="0"
            data-max-value="100"
          ></div>
          <div class="slider__dots">
            <div class="slider__dot"></div>
            <div class="slider__dot"></div>
            <div class="slider__dot"></div>
            <div class="slider__dot"></div>
            <div class="slider__dot"></div>
            <div class="slider__dot"></div>
            <div class="slider__dot"></div>
          </div>
          <div class="slider__values">
            <div class="slider__value">0</div>
            <div class="slider__value">50</div>
            <div class="slider__value">100</div>
          </div>
        </div>
      </div>
      <select data-distance name="distance" class="form-select">
        <option value="1" data-distance="0" data-is-inside-mkad>МКАД плюс 3 км</option>
        <option value="2" data-distance="20">20</option>
        <option value="3" data-distance="40">40</option>
        <option value="4" data-distance="60">60</option>
        <option value="5" data-distance="80">80</option>
        <option value="6" data-distance="100">100</option>
        <option value="7" data-distance="101" data-is-too-far-from-mkad>более 100 км от МКАД</option>
      </select>
    </div>
    {# end distance #}

    <div class="calc__desktop-block calc__desktop-block--1" data-delivery-type-desktop>
      <div class="form-group">
        <div>
          <div class="calc__form-group-label calc__form-group-label--delivery">Доставка:</div>
          <div class="calc__form-group-subtitle">укажите способ доставки</div>
        </div>
        <div class="calc__delivery-type">
          <label class="radio-btn">
            <input data-delivery-type type="radio" name="delivery-type-2" value="pickup">
            <span class="radio-btn__title">Самовывоз</span>
          </label>
          <label class="radio-btn">
            <input data-delivery-type type="radio" name="delivery-type-2" value="delivery" checked>
            <span class="radio-btn__title">С доставкой</span>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div>
          <div class="calc__form-group-label calc__form-group-label--delivery-cost">Стоимость доставки:</div>
          <div class="calc__form-group-subtitle">зависит от количества километров от МКАД</div>
        </div>
        <div class="delivery-cost--desktop"><span data-delivery-cost-output>33 800</span><span class="delivery-cost--desktop-unit">&#8381;</span></div>
      </div>
    </div>

    <div class="calc__desktop-block calc__desktop-block--2">
      <div class="form-group">
        <div>
          <div class="calc__form-group-label">Ваша цена с доставкой</div>
        </div>
        <div class="price__view--desktop">
          <div data-partial-price-with-delivery-output class="price__view--desktop-inner">
            <div class="price__view--desktop-rub">
              <div data-rubs class="price__view--desktop-rub-title">3</div>
            </div>
            <div class="price__view--desktop-rub">
              <div data-rubs class="price__view--desktop-rub-title">3</div>
            </div>
            <div class="price__view--desktop-kop price__view--desktop-kop--2">
              <div data-kops class="price__view--desktop-kop-title">3</div>
            </div>
            <div class="price__view--desktop-kop price__view--desktop-kop--2">
              <div data-kops class="price__view--desktop-kop-title">0</div>
            </div>
            <div class="price__view--desktop-units">&#8381;/л</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="calc__form-group-label">Итого</div>
        <div class="total-cost--desktop"><span data-total-output data-total-output-desktop>33 800</span></div>
      </div>
    </div>

    <div class="calc__results form-group--mobile">
      <div class="calc__result">
        <div>Стоимость доставки</div>
        <div class="calc__result-value">
          <span data-delivery-cost-output>1000</span><span class="calc__result-value-unit">&#8381;</span>
        </div>
      </div>
      <div class="calc__result">
        <div>Ваша цена с доставкой</div>
        <div class="calc__result-value">
          <span data-price-with-delivery-output>36,78</span><span class="calc__result-value-unit">&#8381;/л</span>
        </div>
      </div>
    </div>

    <div class="calc__total form-group--mobile">
      {% include '../../../common/components/product-total-cost/index.twig' %}
    </div>

    <div class="calc__msg-about-manager">Наш менеджер свяжется с вами после оформления заявки для уточнения деталей</div>

    <div class="calc__buttons">
      <input data-hidden-input type="hidden" name="use-any-value-here">
      <button type="button" class="btn btn--outlined btn--green"
              data-pay-online-btn
              data-hidden-input-value="1">Оплата онлайн</button>
      <button type="button" class="btn btn--filled"
              data-send-request-btn
              data-hidden-input-value="2">Заявка на выбранный объём</button>
    </div>

    <input type="hidden" data-total-cost name="totalCost">
    <input type="hidden"
           data-delivery-price-inside-mkad="3000"
           data-delivery-price="500"
           data-min-fuel-volume="100"
    >
    <input type="hidden"
           data-delivery-price-inside-mkad="6000"
           data-delivery-price="1000"
           data-min-fuel-volume="5001"
    >
    <input type="hidden"
           data-delivery-price-inside-mkad="10000"
           data-delivery-price="1500"
           data-min-fuel-volume="15001"
    >
    <!-- The case "Too far from the MKAD was missed on purpose" -->
  </form>
</div>
