<div class="section section--calc">
  <div class="section__title">доставка топлива</div>
  <div class="section__content">
    <div class="cart">
      <div class="cart__content">
        {% include './calc.twig' %}
      </div>
    </div>
  </div>
</div>
