@import '../../../common/variables';

.calc {
  display: block;
  width: 100%;
}

.calc__delivery-type {
  .radio-btn + .radio-btn {
    margin-left: 20px;
  }
}

.calc__results {
  display: table;
  width: 100%;

  margin-top: 10px;
}

.calc__result {
  display: table-row;
  width: 100%;

  > div {
    display: table-cell;
    padding: 6px 0;

    &:last-child {
      width: 1px;
      white-space: nowrap;
    }
  }
}

.calc__result-value {
  display: flex;
  align-items: center;

  font-size: 18px;
  font-weight: 700;
}

.calc__result-value-unit {
  font-size: 16px;
  font-weight: normal;
  margin-left: 5px;
}

.calc__total {
  margin-top: 15px;
}

.calc__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  margin-top: 15px;

  .btn + .btn {
    margin-top: 20px;
  }
}

.calc__msg-about-manager {
  display: none;
  align-items: center;
  width: 100%;
  height: 106px;
  margin-top: 15px;
}

.calc[data-needs-connect-with-manager] {
  .calc__msg-about-manager {
    display: flex;
  }

  .calc__results,
  .calc__total {
    display: none;
  }
}

.calc__form-group-label {
  display: none;
}

[data-fuel-volume-slider] {
  display: none;
}

[data-fuel-volume-output] {
  display: none;
}

[data-distance-output] {
  display: none;
}

.slider__dots,
.slider__values,
.calc__desktop-block {
  display: none;
}

.form-group--mobile {
  //display: flex;
}

.calc__slider {
  display: none;
}

@media (min-width: $desktop-layout-min-width) {
  .section--calc {
    .cart {
      padding: 36px 0;
    }

    .cart__content {
      padding: 0 36px;
    }

    [data-fuel-type] {
      position: relative;
      top: -10px;
      color: #103482;
    }

    .form-group + .form-group {
      margin-top: 8px;

      .calc__desktop-block.calc__desktop-block--1 .form-group {
        margin-top: 0 !important;
      }
    }

    .calc form .calc__form-group-label {
      margin-bottom: 12px;
    }
  }

  .form-group--mobile {
    display: none;
  }

  .section--calc {
    .section__title {
      display: none;
    }

    .section__content {
      margin-top: 0;
    }
  }

  .calc form {
    display: flex;
    flex-direction: column;

    .calc__inline-form-group-content {
      display: flex;
      align-items: center;

      [data-fuel-volume-slider],
      [data-distance-slider ] {
        //margin-left: 40px;
      }
    }

    .form-group {
      box-sizing: border-box;

      &.calc__inline-form-group {
        display: flex;
        align-items: center;
      }

      &:nth-child(1),
      &:nth-child(2) {
        flex-shrink: 0;
        flex-grow: 0;
      }

      &:nth-child(1) {
        width: 100%;
        order: 1;

        .calc__form-group-label {
          position: relative;
          bottom: 4px;
        }

        > .form-select {
          width: 420px;
        }
      }

      &:nth-child(2) {
        order: 2;
      }

      &:nth-child(3) {
        order: 12;
        width: 50%;
        flex-shrink: 0;
        flex-grow: 0;
      }

      &:nth-child(4) {
        order: 3;
        width: 100%;
        margin-top: 32px;
        flex-shrink: 0;
        flex-grow: 0;
      }
    }

    .calc__results {
      order: 5;
    }

    .calc__total {
      order: 6;
    }

    .calc__buttons {
      order: 7;
    }

    .calc__msg-about-manager {
      order: 6;
    }

    .calc__form-group-label {
      display: block;
      padding-right: 35px;

      font-size: 18px;
      color: #334c5c;

      margin-bottom: 18px;
    }

    .calc__slider-result {
      display: inline-block;
      box-sizing: border-box;
      padding: 10px;

      border: 1px solid #cadff3;

      font-family: Akrobat;
      font-size: 28px;
      font-weight: 700;
    }

    [data-fuel-volume] {
      display: none;
    }

    [data-fuel-volume-slider],
    [data-distance-slider] {
      display: block;
      width: 100%;
    }

    [data-fuel-volume-output],
    [data-distance-output] {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 146px;
      height: 47px;
    }

    [data-distance] {
      display: none;
    }
  }

  .calc__slider {
    display: block;
    width: 100%;
    margin-left: 40px;

    position: relative;
    top: 25px;
  }

  .slider__dots {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 6px;

    position: relative;
  }

  .slider__dot {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;

    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(7) {
      background-color: #99c76c;
    }

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(5),
    &:nth-child(6) {
      background-color: #cfe8d3;
    }

    &:nth-child(2) {
      position: absolute;
      left: (100% / 6);
    }

    &:nth-child(3) {
      position: absolute;
      left: (2 * 100% / 6);
    }

    &:nth-child(4) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    &:nth-child(5) {
      position: absolute;
      left: (4 * 100% / 6);
    }

    &:nth-child(6) {
      position: absolute;
      left: (5*100% / 6);
    }

    &:nth-child(6) {
      position: absolute;
      left: (5*100% / 6);
    }
  }

  .slider__values {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 4px;

    position: relative;
  }

  .slider__value {
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    font-family: Akrobat;

    &:nth-child(2) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .calc__desktop-block {
    display: flex;
    justify-content: space-between;

    .form-group {
      display: flex;
      justify-content: space-between;
      flex-shrink: unset !important;
      flex-grow: unset !important;
      margin-top: 0;

      &:nth-child(1) {
        justify-content: flex-start;
      }

      &:nth-child(2) {
        justify-content: flex-end;
      }
    }
  }

  .calc__desktop-block--1 {
    display: flex;
    justify-content: space-between;

    width: 100%;

    order: 4;
    margin-top: 54px;

    box-sizing: border-box;
    padding-bottom: 20px;

    .form-group {
      .calc__form-group-label {
        margin-bottom: 8px;
        padding-right: 0;

        &.calc__form-group-label--delivery,
        &.calc__form-group-label--delivery-cost {
          margin-bottom: 4px;
        }
      }

      .calc__form-group-subtitle {
        font-size: 13px;
        color: #6E8390;
      }

      &:nth-child(1) {
        .calc__form-group-subtitle {
          width: 150px;
        }
      }

      &:nth-child(2) {
        .calc__form-group-subtitle {
          width: 161px;
        }
      }

      .calc__delivery-type {
        position: relative;
        top: -4px;

        display: flex;
        flex-direction: column;
        margin-left: 26px;

        .radio-btn {
          margin-left: 0;
          font-size: 16px;

          .radio-btn__title {
            text-transform: none;
          }

          &:nth-child(1) {
            margin-bottom: 18px;
          }
        }
      }

      .delivery-cost--desktop {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 122px;
        height: 47px;

        margin-left: 44px;

        background-color: #f3f6f9;

        box-sizing: border-box;
        border: 1px solid #d6e2ed;

        color: #000000;
        font-size: 28px;
        font-weight: bold;
        font-family: Akrobat;

        [data-delivery-cost-output] {
          margin-right: 2px;
        }
      }

      .delivery-cost--desktop-unit {
        font-weight: normal;
        font-size: 23px;
      }
    }
  }

  .calc__desktop-block--2 {
    display: flex;
    justify-content: space-between;

    width: 100%;

    order: 5;

    box-sizing: border-box;
    padding-top: 26px;
    border-top: 1px solid #D6E2ED;

    .form-group {
      &:nth-child(1) {
        > div {
          width: 136px;
        }
      }

      &:nth-child(2) {
        justify-content: flex-start;
        flex-direction: column;
        margin-left: 140px;

        position: relative;
        top: -4px;

        .calc__form-group-label {
          display: flex;
          align-items: center;

          &::after {
            content: '';

            display: inline-block;
            width: 10px;
            height: 17px;

            background-image: url('./assets/arrow.svg');
            background-size: contain;
            background-repeat: no-repeat;

            margin-left: 4px;
          }
        }
      }
    }

    .price__view--desktop {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      width: auto;

      margin-top: 0;
      padding-bottom: 0;
      margin-left: 42px;

      position: relative;
      top: -17px;
    }

    .price__view--desktop-inner {
      display: block;
      width: 168px;
      height: 84px;
      position: relative;
    }

    .price__view--desktop-rub {
      display: block;
      width: 47px;
      height: 84px;

      position: absolute;
      top: 0;

      &:nth-child(2) {
        left: 54px;
      }

      &::before,
      &::after {
        position: absolute;
        left: 0;

        content: '';

        display: block;
        width: 47px;
        height: 42px;

        border: 1px solid #aac9e7;
        box-sizing: border-box;

        z-index: 1;
      }

      &::before {
        background: linear-gradient(to bottom, #e3eef9 0%, #c4d7e9 100%);
        top: 0;
      }

      &::after {
        top: 42px;

        background: linear-gradient(to bottom, #c4d7e9 0%, #e3eef9 100%);
      }
    }

    .price__view--desktop-rub-title {
      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      width: 100%;
      height: 100%;

      font-size: 64px;
      font-weight: bold;
      font-family: Akrobat;
      color: #000000;

      z-index: 3;

      &[data-is-hidden] {
        visibility: hidden;
      }
    }

    .price__view--desktop-kop {
      display: block;
      width: 28px;
      height: 46px;

      position: absolute;
      top: 0;

      left: 110px;

      &::before,
      &::after {
        position: absolute;
        left: 0;

        content: '';

        display: block;
        width: 28px;
        height: 23px;

        border: 1px solid #aac9e7;
        box-sizing: border-box;

        z-index: 1;
      }

      &::before {
        background: linear-gradient(to bottom, #e3eef9 0%, #c4d7e9 100%);
        top: 0;
      }

      &::after {
        top: 23px;

        background: linear-gradient(to bottom, #c4d7e9 0%, #e3eef9 100%);
      }
    }

    .price__view--desktop-kop + .price__view--desktop-kop {
      left: 142px;
    }

    .price__view--desktop-kop-title {
      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      width: 100%;
      height: 100%;

      font-size: 38px;
      font-family: Akrobat;
      color: #000000;
      font-weight: bold;

      z-index: 3;
    }

    .price__view--desktop-units {
      position: absolute;
      left: 110px;
      top: 58px;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 50px;
      height: 26px;

      font-size: 22px;
      color: #0a3c5c;

      background-color: #53b3f6;

      user-select: none;

      &::after {
        content: '';

        position: absolute;
        left: 50px;
        top: 0;

        display: block;
        width: 0;
        height: 0;
        border-top: 13px solid transparent;
        border-bottom: 13px solid transparent;

        border-left: 16px solid #53b3f6;
      }
    }

    .total-cost--desktop {
      font-size: 64px;
      font-weight: bold;
      font-family: Akrobat;
      color: #000000;

      &::after {
        content: '₽';
        display: inline-block;

        color: inherit;
        font-weight: normal;

        margin-left: 4px;

        font-size: 35px;
      }
    }

    .price__view--desktop-kop.price__view--desktop-kop--2 {
      $height: 50px;

      height: $height;

      &::before,
      &::after {
        height: $height / 2;
      }

      &::after {
        top: $height / 2;
      }
    }
  }

  .calc__buttons {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 20px;

    .btn + .btn {
      margin-top: 0;
    }

    .btn:nth-child(1) {
      order: 2;
    }

    .btn:nth-child(2) {
      order: 1;
      margin-left: 20px;
    }

    .btn {
      font-size: 22px;
    }
  }

  .calc__desktop-block.calc__desktop-block--1 .form-group,
  .calc__desktop-block.calc__desktop-block--2 .form-group {
    margin-top: 0 !important;
  }

  .total-cost--desktop {
    position: relative;
    top: -10px;
  }
}
