.noUi-tooltip {
  display: none;

  border-color: #aac9e7;
  font-weight: bold;
}

.noUi-active .noUi-tooltip {
  display: block;
}

.noUi-target {
  background: #d6e2ed;
  height: 7px;
}

.noUi-connect {
  background: #04BFFC;
}

.noUi-horizontal .noUi-handle {
  background: #e1eaf2;
  border: 1px solid #0090f0;
  width: 14px;
  height: 14px;

  &::before {
    content: '';

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: block;
    width: 5px;
    height: 5px;
    background: #48b9f2;
    border-radius: 50%;
  }
}

.noUi-horizontal .noUi-tooltip {
  transform: translate(-50%, -10px);
  font-size: 15px;

  &::before {
    content: '';

    display: block;
    width: 100%;
    height: 3px;

    position: absolute;
    left: 0;
    bottom: -3px;

    background: #2ca3f2;
  }

  &::after {
    content: '';

    position: absolute;
    left: 50%;
    bottom: -9px;
    transform: translateX(-50%);

    display: block;

    width: 9px;
    height: 9px;

    background-image: url('./assets/bottom.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}
