{% extends '../../common/page-base/index.twig' %}

{% block title %}Наши сотрудники{% endblock %}

{% block content %}
  <div class="section section--staff">
    <div class="section__title">Наши сотрудники</div>
    <div class="section__content">

      <div class="cart cart--mobile">
        <div class="cart__title">Наши сотрудники</div>
        <div class="cart__content">

          <div class="staff-list">

            <a href="#" class="person">
              <img src="/_staff-images/staff-01.png" alt="">
              <span class="person__name">Иванов Александр Денисович</span>
              <span class="person__position">председатель правления, исполнительныей директор</span>
            </a>

            <a href="#" class="person">
              <img src="/_staff-images/staff-02.png" alt="">
              <span class="person__name">Сергеев Петр Борисович</span>
              <span class="person__position">заместитель председателя правления, заместитель генерального директора</span>
            </a>

            <a href="#" class="person">
              <img src="/_staff-images/staff-03.png" alt="">
              <span class="person__name">Иванова Анна Александровна</span>
              <span class="person__position">директор делопроизводства</span>
            </a>

            <a href="#" class="person">
              <img src="/_staff-images/staff-04.png" alt="">
              <span class="person__name">Петрова Ирина Викторовна</span>
              <span class="person__position">заместитель генерального деректора по правовым вопросам</span>
            </a>
          </div>

          <div class="staff__load-more-btn">
            <div class="btn btn--outlined">Загрузить ещё</div>
          </div>

        </div>
      </div>

      {# =========== #}
      {# desktop     #}
      {# =========== #}
      <div class="cart cart--with-title">
        <div class="cart__title">наши сотрудники</div>
      </div>

      <cart class="cart cart--department">
        <div class="cart__title">отдел управления</div>
        <div class="cart__content">
          <div class="staff-list">
            <a href="#" class="person">
              <img src="/_staff-images/staff-05.png" alt="">
              <span class="person__name">Иванов Александр Денисович</span>
              <span class="person__position">председатель правления, исполнительныей директор</span>
            </a>

            <a href="#" class="person">
              <img src="/_staff-images/staff-06.png" alt="">
              <span class="person__name">Иванова Анна Александровна</span>
              <span class="person__position">директор делопроизводства</span>
            </a>

            <a href="#" class="person">
              <img src="/_staff-images/staff-07.png" alt="">
              <span class="person__name">Петрова Ирина Викторовна</span>
              <span class="person__position">заместитель генерального деректора по правовым вопросам</span>
            </a>

            <a href="#" class="person">
              <img src="/_staff-images/staff-08.png" alt="">
              <span class="person__name">Федоров Аркадий Денисович</span>
              <span class="person__position">Председатель правления, генеральный директор</span>
            </a>

            <a href="#" class="person">
              <img src="/_staff-images/staff-09.png" alt="">
              <span class="person__name">Галунова Инна Александровна</span>
              <span class="person__position">член Совета директоров</span>
            </a>

            <a href="#" class="person">
              <img src="/_staff-images/staff-10.png" alt="">
              <span class="person__name">Ивлеева Ирина Владимировна</span>
              <span class="person__position">заместитель генерального деректора по правовым вопросам</span>
            </a>
          </div>
        </div>
      </cart>

      <cart class="cart cart--department">
        <div class="cart__title">отдел разработки</div>
        <div class="cart__content">
          <div class="staff-list">
            <a href="#" class="person">
              <img src="/_staff-images/staff-05.png" alt="">
              <span class="person__name">Иванов Александр Денисович</span>
              <span class="person__position">председатель правления, исполнительныей директор</span>
            </a>

            <a href="#" class="person">
              <img src="/_staff-images/staff-06.png" alt="">
              <span class="person__name">Иванова Анна Александровна</span>
              <span class="person__position">директор делопроизводства</span>
            </a>

            <a href="#" class="person">
              <img src="/_staff-images/staff-07.png" alt="">
              <span class="person__name">Петрова Ирина Викторовна</span>
              <span class="person__position">заместитель генерального деректора по правовым вопросам</span>
            </a>

            <a href="#" class="person">
              <img src="/_staff-images/staff-08.png" alt="">
              <span class="person__name">Федоров Аркадий Денисович</span>
              <span class="person__position">Председатель правления, генеральный директор</span>
            </a>

            <a href="#" class="person">
              <img src="/_staff-images/staff-09.png" alt="">
              <span class="person__name">Галунова Инна Александровна</span>
              <span class="person__position">член Совета директоров</span>
            </a>

            <a href="#" class="person">
              <img src="/_staff-images/staff-10.png" alt="">
              <span class="person__name">Ивлеева Ирина Владимировна</span>
              <span class="person__position">заместитель генерального деректора по правовым вопросам</span>
            </a>
          </div>
        </div>
      </cart>

    </div>
  </div>
{% endblock %}
