@import '../../common/variables';

.section--staff {
  .cart {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .cart--department,
  .cart--with-title {
    display: none;
  }

  .cart__content {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 0;
  }

  .cart__title {
    display: none;
  }

  .staff-list {
    display: block;
    width: 100%;
  }

  .person {
    display: block;
    width: 100%;

    margin-top: 28px;
    &:nth-child(1) {
      margin-top: 0;
    }

    img {
      width: 100%;
      height: auto;
      outline: none;
    }

    &,
    &:hover,
    &:active,
    &:visited,
    &:focus,
    &:focus-visible {
      text-decoration: none;
      outline: none;

      .person__name {
        color: #048eea;
      }

      .person__position {
        color: #334c5c;
      }
    }
  }

  .person__name {
    display: block;
    width: 100%;

    font-size: 20px;
  }

  .person__position {
    display: block;
    width: 100%;
    font-size: 18px;
    margin-top: 4px;
  }

  .staff__load-more-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    margin-top: 24px;
  }

  @media (min-width: $desktop-layout-min-width) {
    .cart--with-title {
      display: block;
    }

    .cart--mobile {
      display: none;
    }

    .section__title {
      display: none;
    }

    .section__content {
      margin-top: 0;
    }

    .cart {
      padding-top: 21px;
      padding-left: 35px;
      padding-right: 35px;
    }

    .cart__title {
      text-align: left;
      display: block;
    }

    .cart__content {
      padding-left: 0;
      padding-right: 0;
      margin-top: 35px;
    }

    .cart--department {
      $padding: 5px;

      display: block;

      padding-left: 30px;
      padding-right: 30px;

      .cart__title {
        color: #0090f0;
        font-size: 18px;
        margin-left: $padding;
      }

      .staff-list {
        display: flex;
        flex-wrap: wrap;
      }

      .person {
        margin: 0;
        width: (100% / 3);
        box-sizing: border-box;

        padding-left: $padding;
        padding-right: $padding;

        margin-top: 14px;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          margin-top: 0;
        }

        img {
          transition: opacity 1s ease;
        }

        &:hover {
          img {
            opacity: 0.7;
          }
        }
      }

      .person__name {
        font-size: 16px;
      }

      .person__position {
        font-size: 14px;
      }
    }
  }
}
