<div class="section section--about-company">
  <div class="section__content">
    <div class="cart">
      <div class="cart__title cart__title--left">о компании</div>
      <div class="cart__content">

        <p>В 2015м году Моснефтепродукт начал поставку дизельного топлива физическим лицам партиями от 1 литра по
          оптовым ценам.</p>

        <p>Это стало возможным благодаря планомерному росту эффективности нашего логистического центра и обновлению
          парка бензовозов.В связи с открытием направления розничных продаж, Моснефтепродукт предлагает клиентам-физ
          лицам дополнительную гарантию:</p>

        <p>Мы возвращаем деньги или заменяем всю партию топлива при любых претензиях в течение 24х часов с момента
          получения заказа, подробности уточняйте по телефону.</p>

        <a href="#" class="about-company__link">читать далее</a>
      </div>
    </div>
  </div>
</div>
