@import '../../../common/variables';

.section--about-company {
  .cart {
    padding: 26px 0;
  }

  .cart__title {
    font-size: 24px;
    color: #000000;
    margin-left: 32px;
  }

  @media (max-width: ($desktop-layout-min-width - 1px)) {
    display: none;
  }

  .cart__content {
    box-sizing: border-box;
    padding: 0 32px;
    margin-top: 22px;
  }
}

.about-company__link {
  &,
  &:hover,
  &:visited,
  &:active {
    font-size: 13px;
    color: #048eea;
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}
