{% extends '../../common/page-base/index.twig' %}

{% block title %}Main{% endblock %}

{% block content %}
  {% include './calc/index.twig' %}
  {% include './prices/index.twig' %}
  {% include './call/index.twig' %}
  {% include './documents/index.twig' %}
  {% include './features/index.twig' %}
  {% include './about-company/index.twig' %}

{% endblock %}
