.cart--contacts {
  padding-top: 16px;

  .cart__title {
    padding-left: 45px;
    padding-right: 45px;
    text-align: left;
  }

  .cart__content {
    padding-left: 45px;
    padding-right: 45px;
  }

  .cart__title + .cart__content,
  .cart__subtitle + .cart__content {
    margin-top: 37px;
  }
}
