.online-payment {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  margin-top: 54px;
  margin-bottom: 54px;

  .btn + .btn {
    margin-top: 20px;

    width: 180px;
  }
}
