@import '../../variables';

.page-header {
  position: relative;

  //display: none;
  width: 100%;

  @media (min-width: $fixed-width-min-width) {
    display: block;
    max-width: $desktop-layout-min-width;
    margin: 0 auto;
  }

  box-sizing: border-box;
  padding: $default-padding $default-padding 6px;

  &::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    display: block;
    width: 197px;

    border: 1px solid #BED7EF;
  }
}

.page-header__search-icon {
  $size: 26px;

  position: absolute;
  left: $default-padding;
  top: $default-padding;

  display: block;
  width: $size;

  margin-top: 8px;

  &::after {
    content: '';

    display: block;
    width: 100%;

    padding-top: 100%;

    background-image: url('./assets/search-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.page-header__logo {
  margin: 0 auto;
}

.page-header__desktop-menu {
  display: none;
}

.page-header__tizer {
  display: none;
}

.page-header-desktop {
  display: none;
}

@media (min-width: $desktop-layout-min-width) {
  .page-header {
    display: flex;
    align-items: center;

    margin-bottom: $default-padding;

    &::after {
      border: none;
    }
  }

  .page-header--mobile {
    display: none;
  }

  .page-header__logo {
    order: 1;
    margin-right: 0;
    margin-left: 0;
  }

  .page-header__desktop-menu {
    display: block;
    order: 2;
    margin-left: auto;
  }

  .page-header__search-icon {
    display: none;
  }

  // ================
  .page-header-desktop {
    position: relative;
    display: block;
    width: 100%;
    height: 108px;
    background-color: #ffffff;

    box-sizing: border-box;
    border-bottom: 1px solid #c3d2e1;

    margin-bottom: 74px;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      content: '';

      display: block;
      height: 100%;

      background-size: contain;
      background-repeat: no-repeat;

      z-index: 1;
    }

    &::before {
      left: 0;
      background-image: url('./assets/left-bg.png');
      width: 457px;
    }

    &::after {
      right: 0;
      background-image: url('./assets/right-bg.png');
      width: 451px;
    }
  }

  .page-header-desktop__inner {
    position: relative;
    display: block;
    width: $desktop-layout-min-width;
    height: 80px;
    margin: 0 auto;

    z-index: 2;
  }

  .page-header-desktop__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    &::before,
    &::after {
      content: '';

      display: block;

      background-repeat: no-repeat;
      background-size: contain;
    }

    &::before {
      background-image: url('./assets/logo2.png');
      width: 49px;
      height: 45px;
    }

    &::after {
      background-image: url('./assets/company-name.svg');
      width: 205px;
      height: 23px;
      margin-left: 35px;
    }
  }

  .page-header-desktop__menu {
    display: block;
    width: 932px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }

  .page-header-desktop__tizer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $desktop-layout-min-width;
    height: 68px;

    position: absolute;
    left: 50%;
    top: 88px;
    transform: translateX(-50%);

    z-index: 3;

    border-radius: 4px;

    background-image: url('./assets/tizer.jpeg');
    background-position: 0 50%;
    background-repeat: no-repeat;
  }

  .page-header-desktop__tizer-title {
    font-size: 35px;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 6px;
    white-space: nowrap;
  }
}
