@import '../../variables';

.cart {
  display: block;
  width: 100%;

  border: 1px solid #cadff3;
  border-radius: 4px;

  box-sizing: border-box;
  padding: $default-padding * 2 0;

  background-color: #ffffff;
}

.cart__title {
  display: block;
  width: 100%;

  text-align: center;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  font-family: Akrobat;
}

.cart__title--left {
  text-align: left;
  margin-left: 58px;
}

.cart__subtitle {
  display: block;
  width: 100%;

  text-align: center;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #77AA37;
  font-family: Akrobat;
}

.cart__title + .cart__subtitle {
  margin-top: 6px;
}

.cart__title + .cart__content,
.cart__subtitle + .cart__content {
  margin-top: 20px;
}

.cart__content {
  display: block;
  width: 100%;

  box-sizing: border-box;
  padding: 0 $default-padding * 2;
}

.cart__section {
  display: block;
  width: 100%;
  padding-bottom: $default-padding * 2;

  & + & {
    border-top: 1px solid #cadff3;
    padding-top: $default-padding * 2;
  }

  &:last-child {
    padding-bottom: 0;
  }
}
