@import '../../../common/variables';

.sidebar {
  display: none;
  @media (min-width: $desktop-layout-min-width) {
    display: flex;
  }

  flex-direction: column;
  align-items: flex-start;

  width: 360px;
  flex-shrink: 0;
  flex-grow: 0;

  padding-bottom: 20px;

  .cart {
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;

    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }

    .cart__title {
      font-size: 24px;
      color: #000000;
    }

    .cart__subtitle {
      font-size: 20px;
    }
  }
}
