.product-total-cost {
  display: flex;
  align-items: center;
}

.product-total-cost__title {
  display: flex;
  align-items: center;

  &::after {
    content: '';
    display: block;
    width: 10px;
    height: 17px;

    background-image: url('../../icons/arrow-right.svg');
    background-size: contain;
    background-repeat: no-repeat;

    margin-left: 10px;
  }
}

.product-total-cost__value {
  font-size: 22px;
  font-weight: 700;

  margin-left: 10px;
}

.product-total-cost__unit {
  font-size: 16px;
  font-weight: normal;
  margin-left: 5px;
}
