<div class="section section--prices">
  <div class="section__content">
    <div class="cart">
      <div class="cart__title">цены на нефтепродукты</div>
      <div class="cart__subtitle">на сегодня</div>
      <div class="cart__content" data-prices>

        <select class="form-select" data-select>
          <option value="11,34">One</option>
          <option value="34,56">Two</option>
          <option value="10,54">Three</option>
        </select>

        <div class="price__view">
          <div class="price__view-value">
            <span data-value>36,50</span><span class="price__view-unit">&#8381;/л</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
