{% extends '../../common/page-base/index.twig' %}

{% block extraClass %}with-displaced-sidebar{% endblock %}

{% block title %}Оплата физлицо{% endblock %}

{% block content %}
  <div class="section">
    <div class="section__title">Оплата физлицо</div>
    <div class="section__content">
      <div class="cart">
        <div class="cart__content">

          <form data-individual-payment novalidate action="/individual-payment" method="post">
            <div class="inputs">
              <div class="form-group">
                <input type="text" name="name" placeholder="Ваше имя" pattern="^[а-яА-ЯёЁa-zA-Z\s-]+$" required>
                <div class="validation-errors">
                  <div class="validation-error" data-error="required">Обязательное поле</div>
                  <div class="validation-error" data-error="pattern">Некорректное значение</div>
                </div>
              </div>
              <div class="form-group">
                <input type="tel" name="phone" placeholder="Телефон" required>
                <div class="validation-errors">
                  <div class="validation-error" data-error="required">Обязательное поле</div>
                  <div class="validation-error" data-error="phone">Некорретное значение номера телефона</div>
                </div>
              </div>
              <div class="form-group">
                <input type="email" name="email" placeholder="E-mail" required>
                <div class="validation-errors">
                  <div class="validation-error" data-error="required">Обязательное поле</div>
                  <div class="validation-error" data-error="email">Некорретное значение E-mail</div>
                </div>
              </div>
            </div>

            {% include '../../common/components/product-details/index.twig' %}

            {% include '../../common/components/user-agreements-checkbox/index.twig' %}

            <div class="form-submit-btn">
              <button type="submit" class="btn btn--outlined btn--green">Оплата картой банка онлайн</button>
            </div>

            {% include '../../common/components/back-btn/index.twig' %}
          </form>

        </div>
      </div>
    </div>
  </div>
{% endblock %}
