@import '../../common/utils';
@import '../../common/variables';

@media (min-width: $desktop-layout-min-width) {
  [data-individual-payment] .inputs {
    display: flex;
    flex-wrap: wrap;

    .form-group {
      box-sizing: border-box;

      &:nth-child(2),
      &:nth-child(3) {
        width: 50%;
        flex-shrink: 0;
        flex-grow: 0;
      }

      &:nth-child(2) {
        padding-right: 10px;
      }

      &:nth-child(3) {
        padding-left: 10px;

        .validation-errors {
          left: 10px;
        }
      }
    }
  }
}
