{#<form action="/contacts" method="post" class="contacts-form">#}
  {#<div class="contacts-form__title">напишите нам</div>#}
  {#<div class="contacts-form__form">#}

    {#<div class="contacts-form__form-field">#}
      {#<div class="contacts-form__form-field-title">Имя</div>#}
      {#<div class="contacts-form__form-field-content">#}
        {#<input type="text" name="name">#}
      {#</div>#}
    {#</div>#}

    {#<div class="contacts-form__form-field">#}
      {#<div class="contacts-form__form-field-title">Вопрос</div>#}
      {#<div class="contacts-form__form-field-content">#}
        {#<textarea name="question" cols="30" rows="10"></textarea>#}
      {#</div>#}
    {#</div>#}

    {#<div class="contacts-form__btn">#}
      {#<button type="submit" class="btn btn--outlined">Отправить</button>#}
    {#</div>#}

  {#</div>#}
{#</form>#}

