.contacts-form {
  display: block;
  width: 100%;

  box-sizing: border-box;
  padding: 28px;

  border: 1px solid #cadff3;
  background-color: #ffffff;

  min-height: 200px;
}

.contacts-form__title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Akrobat;
  color: #000000;
}

.contacts-form__form {
  display: block;
  width: 100%;
  margin-top: 46px;
}

.contacts-form__form-field {
  display: flex;
  justify-content: flex-start;
}

.contacts-form__form-field + .contacts-form__form-field {
  margin-top: 40px;
}

.contacts-form__form-field-title {
  display: inline-block;

  font-size: 14px;
  font-family: Arial;
  color: #334C5C;
}

.contacts-form__form-field-content {
  display: block;
  width: 608px;
  margin-left: auto;

  textarea {
    width: 100%;
    resize: none;
    border-radius: 4px;

    &,
    &:focus,
    &:focus-visible {
      border: 1px solid #d6e2ed;
      outline: none;
    }
  }
}

.contacts-form__btn {
  display: block;
  width: 100%;
  margin-left: 78px;
  margin-top: 40px;
}
