{% extends '../../common/page-base/index.twig' %}

{% block title %}Иванов Александр Денисович{% endblock %}

{% block content %}
  <div class="section section--person">
    <div class="section__title">Иванов Александр Денисович</div>
    <div class="section__content">

      <div class="cart">
        <div class="cart__content">

          <div class="person">
            <img src="/_staff-images/staff-01.png" alt="">
            <span class="person__name">Иванов Александр Денисович</span>
            <span class="person__position">председатель правления, исполнительныей директор</span>
          </div>

          <div class="person__details">
            <section>
              <h4>Биографические сведения</h4>
              <ul>
                <li>Родился 27 августа 1954 г.</li>
                <li>1976 г. — окончил Грозненский нефтяной институт по специальности «химическая технология переработки нефти и газа».</li>
                <li>1976–1993 гг. — работал на Грозненском НПЗ им. Шерипова, где прошел путь от оператора до директора завода.</li>
              </ul>
            </section>

            <section>
              <h4>Занимаемые должности</h4>
              <ul>
                <li>1996 г. — занимал должность начальника Департамента по торговле нефтью и нефтепродуктами в компании «Славнефть», позже был назначен вице-президентом ОАО «НГК «Славнефть».</li>
                <li>2006–2007 гг. — вице-президент компании «Сибнефть» по переработке и сбыту.</li>
                <li>С 2008 г. — заместитель председателя правления, заместитель генерального директора по логистике, переработке и сбыту ПАО «Газпром нефть».</li>
                <li>В компании отвечает за переработку нефти, логистику и сбыт нефти и нефтепродуктов.</li>
              </ul>
            </section>
          </div>

          <div class="person__back-btn">
            <a href="#" class="btn btn--outlined">Вернуться к списку сотрудников</a>
          </div>

        </div>
      </div>

    </div>
  </div>
{% endblock %}
