@import '../../../../pages/main/call/styles';

.sidebar .cart.cart__call-desktop {
  padding-top: 20px;

  .call__link {
    font-family: Roboto;
  }

  .cart__section {
    padding-bottom: 28px;
  }

  .cart__section + .cart__section {
    padding-top: 25px;
  }

  .cart__title {
    color: #000000;
  }

  .cart__content.call__request-call {
    margin-top: 32px;
  }

  .cart__section:nth-child(2) {
    padding-bottom: 0;
  }
}

.cart__call-desktop {
  .cart__title {
    font-size: 24px;
  }

  .call__link {
    font-size: 29px;
  }

  .call__icon svg {
    width: 30px;
  }

  .cart__section:nth-child(2) {
    position: relative;

    * {
      position: relative;
      z-index: 10;
    }

    &::before {
      content: '';

      position: absolute;
      top: 0;
      right: -20px;

      display: block;
      width: 195px;
      height: 117px;

      background-image: url('./assets/phone.png');
      background-repeat: no-repeat;
      background-size: contain;

      z-index: 1;
    }
  }

  [data-btn] {
    font-size: 18px;
  }

  .cart__content.call__request-call {
    margin-top: 46px;
  }

  .cart__section {
    padding-bottom: 30px;
  }

  .cart__section + .cart__section {
    padding-top: 30px;
  }

  .cart__section:last-of-type {
    padding-bottom: 0;
  }
}
