<div class="section section--features">
  <div class="section__title">в компании моснефтепродукт</div>
  <div class="section__content">

    <!-- features -->
    <div class="features__list">
      <div class="features__item">
        <div class="features__item-icon">
          {% include './assets/icon-1.svg' %}
        </div>
        <div class="features__item-title">Сертифицированное топливо высшего качества</div>
      </div>
      <div class="features__item">
        <div class="features__item-icon">
          {% include './assets/icon-2.svg' %}
        </div>
        <div class="features__item-title">Круглосуточная доставка по любому адресу</div>
      </div>
      <div class="features__item">
        <div class="features__item-icon">
          {% include './assets/icon-3.svg' %}
        </div>
        <div class="features__item-title">Низкая цена</div>
      </div>
      <div class="features__item">
        <div class="features__item-icon">
          {% include './assets/icon-4.svg' %}
        </div>
        <div class="features__item-title">Удобное оформление и оплата заказа онлайн</div>
      </div>
    </div>
    <!-- end features -->

  </div>
</div>
