@font-face {
    font-family: 'Ibarra Real Nova';
    src: url('IbarraRealNova-BoldItalic.eot');
    src: local('Ibarra Real Nova Bold Italic'), local('IbarraRealNova-BoldItalic'),
        url('./IbarraRealNova-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./IbarraRealNova-BoldItalic.woff2') format('woff2'),
        url('./IbarraRealNova-BoldItalic.woff') format('woff'),
        url('./IbarraRealNova-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Ibarra Real Nova';
    src: url('IbarraRealNova-Italic.eot');
    src: local('Ibarra Real Nova Italic'), local('IbarraRealNova-Italic'),
        url('IbarraRealNova-Italic.eot?#iefix') format('embedded-opentype'),
        url('IbarraRealNova-Italic.woff2') format('woff2'),
        url('IbarraRealNova-Italic.woff') format('woff'),
        url('IbarraRealNova-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ibarra Real Nova';
    src: url('IbarraRealNova-Regular.eot');
    src: local('Ibarra Real Nova Regular'), local('IbarraRealNova-Regular'),
        url('./IbarraRealNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('./IbarraRealNova-Regular.woff2') format('woff2'),
        url('./IbarraRealNova-Regular.woff') format('woff'),
        url('./IbarraRealNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ibarra Real Nova';
    src: url('IbarraRealNova-SemiBold.eot');
    src: local('Ibarra Real Nova SemiBold'), local('IbarraRealNova-SemiBold'),
        url('IbarraRealNova-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('IbarraRealNova-SemiBold.woff2') format('woff2'),
        url('IbarraRealNova-SemiBold.woff') format('woff'),
        url('IbarraRealNova-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Ibarra Real Nova';
    src: url('IbarraRealNova-Bold.eot');
    src: local('Ibarra Real Nova Bold'), local('IbarraRealNova-Bold'),
        url('IbarraRealNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('IbarraRealNova-Bold.woff2') format('woff2'),
        url('IbarraRealNova-Bold.woff') format('woff'),
        url('IbarraRealNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ibarra Real Nova';
    src: url('IbarraRealNova-SemiBoldItalic.eot');
    src: local('Ibarra Real Nova SemiBold Italic'), local('IbarraRealNova-SemiBoldItalic'),
        url('IbarraRealNova-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('IbarraRealNova-SemiBoldItalic.woff2') format('woff2'),
        url('IbarraRealNova-SemiBoldItalic.woff') format('woff'),
        url('IbarraRealNova-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

