@import '../../variables';

.page-footer {
  position: relative;

  display: block;
  width: 100%;

  background-color: #ffffff;

  &::before {
    content: '';

    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    display: block;
    border: 1px solid #aac9e7;
  }
}

.page-footer-bg {
  display: none;
}

.page-footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  box-sizing: border-box;
  padding: 10px;
}

.page-footer__phone {
  display: flex;
  align-items: baseline;

  font-weight: 400;
  font-size: 15px;
  line-height: 18px;

  margin-top: 10px;

  &,
  &:hover,
  &:active,
  &:visited {
    text-decoration: none;
    color: $text-color;
    outline: none;
  }

  &::before {
    content: '';

    display: block;
    width: 13px;
    height: 13px;

    background-image: url('../../icons/phone-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;

    margin-right: 6px;
  }
}

.page-footer__copyrights {
  display: block;

  font-weight: 400;
  font-size: 10px;

  margin-top: 10px;
}

.page-footer__desktop-logo {
  display: none;
}

.page-footer__phone-desktop {
  display: none;
}

.page-footer__menu {
  display: none;
}

@media (min-width: $desktop-layout-min-width) {
  .page-footer__phone {
    display: none;
  }

  .page-footer-bg {
    position: absolute;
    left: 0;
    top: 0;

    display: block;
    width: 100%;
    height: 100%;

    z-index: 0;

    &::before {
      content: '';

      position: absolute;
      left: 0;
      top: 0;

      display: block;
      width: 439px;
      height: 73px;

      background-image: url('./assets/left-bg.png');
      background-repeat: no-repeat;
      background-size: contain;
    }

    &::after {
      content: '';

      position: absolute;
      right: 0;
      top: 0;

      display: block;
      width: 408px;
      height: 73px;

      background-image: url('./assets/right-bg.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .page-footer__inner {
    position: relative;
    z-index: 1;

    width: $desktop-layout-min-width;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }

  .page-footer__phone {
    display: none;
  }

  .page-footer__phone-desktop {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: block;

    .page-footer__phone-desktop-inner {
      display: flex;
      flex-direction: column;
      align-items: center;

      cursor: pointer;
      user-select: none;
    }

    .page-footer__phone {
      display: flex;
      justify-content: space-between;
      align-items: center;

      font-size: 20px;

      margin-bottom: 6px;

      &::before {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }

    .page-footer__phone-desktop-btn {
      display: block;
    }

    &:hover {
      .page-footer__phone-desktop-btn {
        text-decoration: underline;
      }
    }
  }

  .page-footer__logo {
    display: none;
  }

  .page-footer__copyrights {
    display: none;
  }

  .page-footer__desktop-logo {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    .page-footer__copyrights {
      display: block;
      font-size: 11px;
      margin-top: 0;
      margin-right: 6px;
    }
  }

  .page-footer__menu {
    position: absolute;
    top: 50%;;
    transform: translateY(-50%);
    right: 0;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, auto);
  }

  .page-footer__menu-cell {
    display: block;

    box-sizing: border-box;
    padding-right: 60px;

    &:nth-child(3n) {
      padding-right: 0;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      margin-bottom: 2px;
    }
  }

  .page-footer__menu-item {
    display: inline-block;

    &,
    &:visited,
    &:hover,
    &:active,
    &:focus {
      font-size: 12px;
      color: #334c5c;
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
