@import '../../common/utils';
@import '../../common/variables';

@media (min-width: $desktop-layout-min-width) {
  [data-legal-entity-payment] .inputs {
    display: flex;
    flex-wrap: wrap;

    .form-group {
      box-sizing: border-box;

      // Email, phone
      &:nth-child(1),
      &:nth-child(2) {
        width: 50%;
        flex-shrink: 0;
        flex-grow: 0;
      }

      &:nth-child(1) {
        padding-right: 10px;
      }

      &:nth-child(2) {
        padding-left: 10px;
        margin-top: 0;

        .validation-errors {
          left: 10px;
        }
      }

      // Р/С, К/С
      &:nth-child(11),
      &:nth-child(12) {
        width: 50%;
        flex-shrink: 0;
        flex-grow: 0;
      }

      &:nth-child(11) {
        padding-right: 10px;
      }

      &:nth-child(12) {
        padding-left: 10px;

        .validation-errors {
          left: 10px;
        }
      }

      // bank, BIC
      &:nth-child(13),
      &:nth-child(14) {
        width: 50%;
        flex-shrink: 0;
        flex-grow: 0;
      }

      &:nth-child(13) {
        padding-right: 10px;
      }

      &:nth-child(14) {
        padding-left: 10px;

        .validation-errors {
          left: 10px;
        }
      }

      // ОКВЭД, ОГРН
      &:nth-child(7),
      &:nth-child(8) {
        width: 50%;
        flex-shrink: 0;
        flex-grow: 0;
      }

      &:nth-child(7) {
        padding-right: 10px;
      }

      &:nth-child(8) {
        padding-left: 10px;

        .validation-errors {
          left: 10px;
        }
      }

      // ОКПО, ОКАТО
      &:nth-child(9),
      &:nth-child(10) {
        width: 50%;
        flex-shrink: 0;
        flex-grow: 0;
      }

      &:nth-child(9) {
        padding-right: 10px;
      }

      &:nth-child(10) {
        padding-left: 10px;

        .validation-errors {
          left: 10px;
        }
      }
    }
  }
}
