@import '../../variables';

.page-header__tizer {
  position: relative;

  display: none;
  @media (min-width: $desktop-layout-min-width) {
    display: block;
    margin-bottom: 20px;
  }

  width: $desktop-layout-min-width;
  height: 68px;
  margin: 0 auto;

  background-image: url('./assets/tizer.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 50%;

  //&::before {
  //  content: '';
  //
  //  display: block;
  //  width: 100%;
  //  padding-top: (146 / 1540) * 100%;
  //
  //  background-image: url('./assets/tizer.jpeg');
  //  background-size: contain;
  //  background-repeat: no-repeat;
  //  background-position: 0 50%;
  //}
}

.page-header__tizer-label {
  display: block;
  width: 100%;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  text-align: center;

  font-family: 'Ibarra Real Nova';
  font-size: 35px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 6px;
  white-space: nowrap;
}
