@import '../../common/utils';
@import '../../common/variables';

@media (min-width: $desktop-layout-min-width) {
  [data-request-registration] {
    .inputs {
      display: flex;

      .form-group {
        width: 50%;
        flex-shrink: 0;
        flex-grow: 0;

        margin-top: 0;

        box-sizing: border-box;

        &:nth-child(1) {
          padding-right: 10px;
        }

        &:nth-child(2) {
          padding-left: 10px;

          .validation-errors {
            left: 10px;
          }
        }
      }
    }
  }
}
