<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body class="{% block extraClass %}{% endblock %}">
    {% include './mobile-menu/btn.twig' %}
    {% include './mobile-menu/menu.twig' %}

    <div class="content-wrapper">
      {% include './header/index.twig' %}
      {% include './header/desktop-header.twig' %}
      {#{% include './tizer/index.twig' %}#}
      <div class="page-inner">
        <div class="content">
          {% block content %}{% endblock %}
        </div>
        {% include './sidebar/index.twig' %}
      </div>
    </div>
    <div class="footer-wrapper">
      {% include './footer/index.twig' %}
    </div>
  </body>
</html>
