@at-root {
  $icon-size: 20px;
  $check-size: 10px;

  .checkbox {
    display: inline-block;

    user-select: none;
    cursor: pointer;

    input {
      position: absolute;
      left: -1000px;
      top: -1000px;
      visibility: hidden;
    }
  }

  .checkbox__title {
    position: relative;

    display: inline-flex;
    line-height: $icon-size;

    &::before {
      content: '';

      display: block;
      width: $icon-size;
      height: $icon-size;

      box-sizing: border-box;
      border: 1px solid #d6e2ed;
      border-radius: 4px;

      margin-right: 10px;

      flex-shrink: 0;
      flex-grow: 0;
    }

    &::after {
      content: '';

      position: absolute;
      left: ($icon-size - $check-size) / 2;
      top: ($icon-size - $check-size) / 2;

      display: none;
      width: $check-size;
      height: $check-size;

      background-color: #77aa37;

      border-radius: 2px;
    }
  }

  .checkbox input:checked ~ .checkbox__title::after {
    display: block;
  }
}
