@at-root {
  $icon-size: 20px;

  .radio-btn {
    display: inline-block;
    align-items: center;

    user-select: none;
    cursor: pointer;

    input {
      position: absolute;
      left: -1000px;
      top: -1000px;
      visibility: hidden;
    }
  }

  .radio-btn__title {
    display: inline-flex;

    line-height: $icon-size;
    vertical-align: middle;

    text-transform: capitalize;

    &::before {
      content: '';

      display: block;
      width: $icon-size;
      height: $icon-size;

      box-sizing: border-box;
      border: 1px solid #d6e2ed;
      border-radius: 50%;

      margin-right: 10px;
    }
  }

  .radio-btn input:checked ~ .radio-btn__title::before {
    background: radial-gradient(#77aa37 40%, rgba(255, 0, 0, 0) 41%);
  }
}
