@import '../../../common/variables';

.section--docs {
  @media (min-width: $desktop-layout-min-width) {
    display: none;
  }
}

.docs__item {
  display: flex;
  align-items: baseline;

  & + & {
    margin-top: 10px;
  }

  &:hover {
    .docs__item-link {
      color: #048eea;
    }

    .docs__item-icon {
      svg {
        path {
          fill: #048eea;
        }
      }
    }
  }
}

.docs__item-icon {
  display: block;

  margin-right: 6px;

  svg {
    width: 7px;

    path {
      fill: $text-color;
    }
  }
}

.docs__item-link {
  font-size: 14px;
  line-height: 20px;

  &,
  &:hover,
  &:active,
  &:visited {
    text-decoration: none;
    color: $text-color;
  }
}
